<a href="#main" class="skip-main">Skip to Main Content</a>
<header id="header" class="container">
    <a href="/"<h1 class="site-title">Dan <span class="last-name">Gautsch</span></h1></a>
    <ul class="menu">
    <% if (is_home()) {%>
        <li><a href="/archives" class="menu-item"><i class="fa fa-cloud" aria-hidden="true"></i><span class="accessibly-hidden">thoughts</span></a></li>
    <%} %>
        <li><button type="button" class="btn-night-mode" data-action="night"><i class="fa fa-moon-o" aria-hidden="true"></i><span class="accessibly-hidden">Click for Night Mode.</span></button></li>
    </ul>
</header>
