.article-title {
    @extend .h2;
}
.article-top-meta {
    @include font-size(1.2);
    text-align: left;
    margin: 0 0 2em;
    border-bottom: 1px dotted $black;
    padding: 0 0 1em 0;
}
.article-content {
    font-family: $serif;
    @include font-size(1.2);
    @include breakpoint($small) {
        @include font-size(1);
    }
    a {
        color: $primary-orange;
        font-weight: bold;
    }
}

.article-footer {
    border-top: 1px solid $offwhite;
    padding: 1em 0;
}

.entry-date {
    @include font-size(1);
    @include breakpoint($medium) {
        &:after {
            content: "|";
        }
    }
}
.headerlink { // add hover functionality
    &:hover {
        content: '#'
    }
}
.post-tweet,
.post-categories,
.post-tags {
    display: block;
    margin: 0 0 1em 0;
    @include breakpoint($medium) {
        display: inline;
    }
    a {
        color: $primary-blue;
        margin: 0 0.5em;
        text-transform: uppercase;
        @include font-size(0.8);
        &:after {
            content: ','
        }
    }
    a:last-of-type {
        &:after {
            content: ''
        }
    }
}
