// Breakpoints
$xxlarge: 1200px;
$xlarge: 960px;
$large: 1024px;
$medium: 660px;
$small: 370px;

$white: #FFF;
$offwhite: #F5F5F5;
$black: #000;
$gray: #282828;
$primary-orange: #D67203;
$primary-blue: #00609c;
$page-background: #FFFFFF;
$page-background--sunset: #282828;

$link: $gray;
$bodytext: #3b3b3b;
$text-light: #8f8f8f;
$border-dark: #c4c4c4;
$border-light: #e1e1e1;

$sans-serif: 'Lato', Arial, sans-serif;
$serif: 'Lora', 'Georgia', serif;
$monospace: 'Consolas', monospace;
