/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
    margin: 0;
    height: 100%;
}
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $page-background;
}

.skip-main {
    color: white;
	font-family: $sans-serif;
    top: 0;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	background: transparent;
	padding: 1em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-transition: background 1s linear;
	transition: background 1s linear;
	z-index: 101;
	&:focus {
        color: white;
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		background: $primary-orange;
		outline: 0;
		-webkit-transition: background .5s linear;
		transition: background .5s linear;
	}
}

.copyright {
    @include font-size(0.8);
}
