body {
	background: $page-background;
    @include transition(1s);
    h1,h2,h3, footer, div, section, article, ul, blockquote {
        @include transition(1s);
    }
}
/* Night Mode Styles */
body.sunset {
    background: $page-background--sunset;
    @include transition(1s);
    h1,h2,h3,p,a,footer, div, section, article, ul, blockquote {
        color: $offwhite;
        @include transition(1s);
    }
    .fa {
        color: $offwhite;
        @include transition(1s);
    }
    .post-categories a, .post-tags a {
        color: $offwhite;
        @include transition(1s);
    }
    .article-content a {
        color: $primary-orange;
    }
    .article-top-meta {
        border-bottom-color: $white;
        @include transition(1s);
    }
}

.btn-night-mode {
    background: none;
    border: none;
}

[data-action=day] {
    .night-mode {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include transition();
    }
}

[data-action=night] {
    .day-mode {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include transition();
    }
}
